:root {
  --backgroundColor: rgb(88, 101, 242);
}

body {
  font-size: 1.25rem;
  background-color: var(--backgroundColor);
  margin: 2rem 7rem;
}

label {
  display: block;
}

input {
  display: block;
  font-size: 1.5rem;
}

span {
  color: red;
}

.submissionContainer {
  text-align: right;
}

footer {
  text-align: center;
  color: #fff;
}

a {
  color: #d28fc6;
  text-decoration: none;
}

a:hover {
  color: gold;
  font-weight: bold;
}

button {
  background-color: #5865F2;
  color: rgb(245,255,255);
  padding: .75rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

button:hover {
  font-weight: bold;
}

.logo {
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 6em;
  padding: 1.5em;
  margin-top: 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.contact-information-section {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.25rem 0;
}

.contact-information-section>div {
  margin: .75rem;
}

.legal-question-section {
  display: flex;
  margin: .75rem 0;
}

#reasonBlock {
  margin: 1.25rem 0;
}

.social-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}



/* confirmation properties */
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}